@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", serif;
  line-height: normal;
  background: #e7e6e8;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c6c6c6;
  border-radius: 100px;
}
